* {
    box-sizing: border-box;
}

html {
    --color-uno: #fa7000;
    --color-dos: #1F8A70;
    --color-tres: #00425A;
    --color-cuatro: #181823;
    --color-cinco: #EFF5F5;
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

.nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-tres);
    position: relative;
}

.nav .nav-header {
    width: 100%;
    display: inline;
    text-align: center;
}

.nav .nav-header .nav-title h2 {
    display: flex;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dos);
    padding: 10px;
}

.nav .nav-header .nav-title h2 span {
    font-family: 'Poppins', sans-serif;
    color: var(--color-uno);
}

.nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.nav .nav-btn label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 50px;
    height: 50px;
    padding: 15px;
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.nav .nav-btn label i {
    color: var(--color-cinco);
    font-size: 1.5rem;
}

.nav nav {
    display: none;
}

#nav-check:checked~nav {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--color-tres);
}

#nav-check:checked~nav a {
    display: block;
    color: var(--color-cinco);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.nav #nav-check {
    display: none;
}

main .titulo {
    color: var(--color-cinco);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgs/escuela.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: grid;
    place-content: center;
}

main .titulo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: var(--color-dos);
    text-align: center;
}

main .titulo h1 span {
    font-family: 'Poppins', sans-serif;
    color: var(--color-uno);
}

section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: var(--color-dos);
    padding: 0.3rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    width: 100%;
}

.opciones img {
    width: 300px;
    border-radius: 10px;
    margin: 16px;
}

.opciones .quienes-somos, 
.opciones .elegirnos  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones p {
    font-family: 'Poppins', sans-serif;
    color: var(--color-cuatro);
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 0.2rem 0.9rem;
    margin-top: 0;
    margin-bottom: 0;
}

.propuestas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flip-card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    padding: 0.8rem 0.5rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: var(--color-cinco);
    overflow: hidden;
}

.flip-card-front img {
    max-height: 100%;
}

.flip-card-back {
    background-color: var(--color-uno);
    color: var(--color-cinco);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.card-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0.5rem;
    line-height: 1.2rem;
}

.container-noticias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.noticias {
    background-color: var(--color-dos);
    width: 300px;
    height: 570px;
    margin: 10px;
    border-radius: 15px;
}

.noticia-imagen {
    object-fit: cover;
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.container-noticias h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-cinco);
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container-noticias p {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: var(--color-cinco);
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 0.2rem 0.9rem;
    margin-top: 0;
}

.noticia-1 {
    background-image: url("./imgs/olimpiadas.jpg");
}

.noticia-2 {
    background-image: url("./imgs/servicio.jpg");
}

.noticia-3 {
    background-image: url("./imgs/evento_ciencia.jpg");
}

footer {
    background-color: var(--color-tres);
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

footer h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: var(--color-dos);
    text-align: center;
    padding: 0;
    margin: 0.5rem;
}

footer h2 span {
    color: var(--color-uno);
}


.redes .titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: var(--color-cinco);
    grid-column: 1 / -1;
    margin: 0.5rem;

}

.redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 1rem 0 1rem 2rem;
}

.redes i {
    color: var(--color-cinco);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
}

.redes a {
    font-family: 'Poppins', sans-serif;
    color: var(--color-cinco);
    font-size: 1.2rem;
    text-decoration: none;
}

.ubicacion {
    display: flex;
    overflow: hidden;
    padding-bottom: 55%;
    position: relative;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    justify-content: center;
}

.ubicacion iframe {
    height: 100%;
    width: 90%;
    position: absolute;
    border-radius: 15px;
}

.contacto .titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: var(--color-cinco);
    grid-column: 1 / -1;
    margin: 0.5rem;
}

.contacto {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    padding: 1rem 0 1rem 2rem;
}

.contacto i {
    color: var(--color-cinco);
    font-size: 1.2rem;
    padding-left: 1rem;
}

.contacto a {
    font-family: 'Poppins', sans-serif;
    color: var(--color-cinco);
    font-size: 1.2rem;
    text-decoration: none;

}

.button-container {
    text-align: center;

}

button {
    background-color: var(--color-tres);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--color-cinco);
    padding: 0.2rem 3rem;
    border-radius: 15px;
    border: 1px solid var(--color-cinco);
}

@media (min-width: 768px) {
    .nav .nav-header {
        width: fit-content;
        text-align: center;
    }

    .nav .nav-btn {
        display: none;
    }

    .nav nav {
        display: flex;
        column-gap: 1.5rem;
        font-size: 16px;
        text-align: center;
        border: none;
        border-radius: 0 0 10px 10px;
        margin-right: 1rem;
        align-items: center;
        margin-left: auto;
    }

    .nav nav a {
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: var(--color-cinco);
        text-decoration: none;
    }

    .nav nav a i {
        margin-right: 5px;
        color: var(--color-cinco);
    }

    section h2 {
        font-size: 30px;
        text-align: center;
    }

    .opciones .quienes-somos {
        display: grid;
        grid-template-areas:
            "uno   img"
            "dos   img";
        align-items: center;
        padding: 1rem;
    }

    .quienes-somos>.uno {
        grid-area: uno;
    }

    .quienes-somos>img {
        grid-area: img;
    }

    .quienes-somos>.dos {
        grid-area: dos;

    }

   .opciones .elegirnos {
        display: grid;
        grid-template-areas:
            "uno   img"
            "dos   img";
        align-items: center;
        padding: 1rem;
    }

    .elegirnos>.uno {
        grid-area: uno;
    }

    .elegirnos>img {
        grid-area: img;
    }

    .elegirnos>.dos {
        grid-area: dos;

    }

    .opciones img {
        width: 95%;
    }

    .container-noticias {
        justify-content: space-evenly;
    }

    footer {
        display: grid;
        width: 100%;
        height: 250px;
        justify-content: space-evenly;
        padding: 1rem;
        grid-template-areas:
            "redes      h2    contacto"
            "redes  ubicacion contacto "
            "redes  ubicacion button-container";
    }

    .redes {
        grid-template-columns: auto;
    }

    footer>h2 {
        grid-area: h2;
    }


    footer>.redes {
        grid-area: redes;
    }

    footer>.ubicacion {
        grid-area: ubicacion;

    }

    footer>.contacto {
        grid-area: contacto;

    }

    footer>.button-container {
        grid-area: button-container;

    }

}