* {
    box-sizing: border-box;
}

html {
    --color-uno: #FC7300;
    --color-dos: #1F8A70;
    --color-tres: #00425A;
    --color-cuatro: #181823;
    --color-cinco: #EFF5F5;
   scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--color-cinco);
}

header h2 {
    font-family: 'Belanosima', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: var(--color-dos);
    text-align: center;
}

header h2 span {
    font-family: 'Belanosima', sans-serif;
    color: var(--color-uno);
}

.titulo {
    color: var(--color-cinco);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/escuela.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: grid;
    place-content: center;
}

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

label {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-cuatro);
    text-align: justify;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.contacto-input {
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    background-color: rgba(31, 138, 112, 0.1);
}

.boton {
    display: flex;
    justify-content: center;
}

.enviar {
    background-color: var(--color-dos);
    width: 10rem;
    height: 30px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    color: var(--color-cinco);
}

a {
    display: flex;
    text-decoration: none;
    color: var(--color-cuatro);
    font-size: 1rem;
    margin: 1rem;
}

a i {
    color: var(--color-cuatro);
    font-size: 1rem;
}




@media (min-width: 768px) {
    .contacto-input {
        font-size: 1rem;
    }

    .enviar {
        width: 20rem;
    }
}